<a class="btn btn-primary" href="/#/create/api"><span class="glyphicon glyphicon-plus"></span> Create API</a>
<br/>
<table class="table table-striped">
  <thead>
    <th>EndPoint</th>
    <th>Type</th>
  </thead>
  <tbody>
    <tr ng-repeat="api in apis">
      <td><a ng-href="/#/apis/{{ api._id }}">{{ api.endpoint }}</a></td>
      <td>{{ api.type }}</td>
      <td>
        <div class="button-group">
          <a ng-href="/#/apis/{{ api._id }}/edit" class="btn btn-default"><span class="glyphicon glyphicon-edit"></span></a>
          <a ng-href="/#/apis/{{ api._id }}/delete" class="btn btn-danger"><span class="glyphicon glyphicon-remove-circle"></span></a>
        </div>
      </td>
    </tr>
  </tbody>
</table>
