<a class="btn btn-primary" href="/#/create/userresponse"><span class="glyphicon glyphicon-plus"></span> Create User Response</a>
<br/>
<table class="table table-striped">
    <thead>
    <th>Name</th>
    </thead>
    <tbody>
    <tr ng-repeat="userresponse in userresponses">
        <td><a ng-href="/#/userresponse/{{ userresponse._id }}">{{ userresponse.username.name }}</a></td>
        <td>{{ userresponse.api.endpoint }}</td>
        <td>{{ userresponse.apiData.response }}</td>
        <td>
            <div class="button-group">
                <a ng-href="/#/userresponse/{{ userresponse._id }}/edit" class="btn btn-default"><span class="glyphicon glyphicon-edit"></span></a>
                <a ng-href="/#/userresponse/{{ userresponse._id }}/delete" class="btn btn-danger"><span class="glyphicon glyphicon-remove-circle"></span></a>
            </div>
        </td>
    </tr>
    </tbody>
</table>
